body {
  background-color: rgb(255, 255, 255);
  color: rgb(34, 34, 34); 
  height: 0vh; /*100*/
  margin:0;
  font-size: 1.2em;
  display: grid;
  grid-template-columns: auto ;
  
  grid-template-areas: 'h' 'm' 'f';
  grid-template-rows: 500px auto 200px;
}

header {
   grid-area: h;
   /* background-color: rgb(255, 255, 255);*/
   color: white; 
   font-size: 1.2em;
   padding:10px;
   display: flex;
   align-items: center;
}
header > section {
  text-align: center;
  width: calc(100% - 320px);
}
header > img {
  grid-area: h;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  position: absolute;
  top: -1%;
  left: 34.5%;
}


footer { 
  grid-area: f;
  /* padding: 10px 20%;  */
  font-size: 1.2em;
  text-align: center;
  background-color: rgba(17, 16, 16, 0.256); 
  color: white; 
  
}
main {
  grid-area: m;
  display: grid;
  align-items: center;
  justify-content: center;
}
main h3 {
  font-size: 22px;
  color: black;
  position: absolute;
  left: 40.9%;
  top: 80%;
  
  }

main h4 input {
  font-size: 35px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  width: 300px;
  border: none;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  left: 40.5%;
  top: 48%;
  border-color: rgba(0,0,0,0);
}

main h5 input {
  font-size: 35px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  width: 300px;
  border: none;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  left: 40.5%;
  top: 58.9%;
}
main h6 input {
  font-size: 35px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  width: 300px;
  border: none;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  left: 40.5%;
  top: 69.9%;
}
main input { 
  font-size: 45px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  width: 330px;
  border: none;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  left: 39.52%;
  top: 68%;
  
}
main h7 input {
  width: 330px;
  border: none;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  left: 39.52%;
  top: 79%;
}
main h8 {
    font-size: 30px;
    color: black;
    position: absolute;
    left: 39.52%;
    top: 92%;
    
}
main h10 {
font-size: 22px;
color: darkred;
position: absolute;
left: 40.8%;
top: 78%;
font-weight: bold;
font-family: serif;
}

main h11 {
  font-size: 22px;
    color: black;
    position: absolute;
    left: 41%;
    top: 89%;
    font-weight: bold;
}

main h12 {
  position:absolute;
  left: 39.52%;
  top: 46%;
  
}
main h13 {
  position:absolute;
  left: 39.52%;
  top: 56.8%;
  
}
main h14 {
  position:absolute;
  left: 39.52%;
  top: 67.6%;
}